<% provide(:title, "About") %>

<div class="container">
<h1>About the Artist</h1>
<p>From 1974­ - 1978 I attended the Swain School of Design in New Bedford, MA which merged in 1988 with University of
Massachusetts Dartmouth. Notable faculty included: David Loeffler Smith, John Osborne, Severin Haines (an alumnus
of Yale MFA), Dick Dougherty, Robert Hubbard, Russell Daly, Jacqueline Block, Benjamin Martinez, Tom
Corey, Nicholas Kilmer, and Leo Kelly.

The summer of 1977, I attended Skowhegan School of Painting and Sculpture, a nine­ week Summer artists
residency located in Madison, Maine. I worked alongside the faculty of: Martha Diamond, Cesar Domela,
Edwin F. Gamble, Charles Ginnever, Sidney J. Hurwitz, Yvonne Jacquette, William King, Willard F.
Midgette, Lowell Nesbitt, Deborah Remington, Milton Resnick, George Segal, Susan Shatter, Richard
Stankiewicz and Robert Wilson.

After earning a BFA from Swain School in 1978, I moved to Manhattan, where I immersed myself in the art
scene and museums. I attended the MFA program at Parsons School of Design also known as The New
School. From September until December 1979 I studied painting with Leland Bell, Paul Resika and Bruce
Gagnier.</p>
</div>
