<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="form-frame" align="center">Thank you for your purchase!  Expect your painting to arrive within 3-7 business days.</h1>
  </div><!-- / panel-body -->
</div><!-- / panel -->
