@import url('https://fonts.googleapis.com/css?family=Oswald|Slabo+27px');

* {
  margin: 0px;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 1px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: inherit;

  &:visited {
    color: #666;
  }
  &:hover {
    text-decoration: none;
  }
}

/* Navigation */

.navbar {
  background-color: lightgray;
}

#logo{
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: inherit;
}

#logo:hover {
  text-decoration: none;
}

.nav-item {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

      /* Adjust for mobile devices */
@media only screen and (max-width: 600px) {
  .nav-link {
    font-size: 1rem;
  }
  .navbar {
    display:flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .nav {
    margin: auto;
  }
}

      /* Stop Adjust for mobile devices */

.nav-item:hover,{
  background-color: #000;
  transition-duration: 0.5s;
  color: #fff;
  .nav-link {
    color: #fff;
    transition-duration: 0.5s;
  }
}

/* End Navigation */

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  width: auto;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.form-frame {
  background-color: lightgray;
  margin: 5% 30% 5% 30%;
  padding: 4%;
}

@media only screen and (max-width: 800px) {
  .form-frame {
    margin: 10% 0% 5% 0%;
    padding: 7%;
  }
}

.admin {
  margin-top: 5%;
  display: flex;
  justify-content:center;
}

.site-body {
  margin: 5% 1% 0 1%;
}

/* Products */

#carouselExampleIndicators {
  margin-bottom: 5%;
}

.prod-screen {
  margin: 5% 2% 0 2%;
  padding: 0px;
}

.prod-cards {
  margin: 1%;
  display: inline-table;
}

@media only screen and (max-width: 1200px) {
  .prod-cards {
    margin: auto;
  }
}

.paint {
  display:inline-table;
  margin: 13% 0 7% 0;
}

.card-img-top {
  box-shadow: 10px 10px 20px 0px;
}

.search-bar {
  float: left;
  background-color: lightgray;
}

@media only screen and (max-width: 800px) {
  .search-bar {
    width: 100%;
  }
}

/* End Products */

/* Blog */

.blog-body {
  margin: 3% 0 2% 0
}

.blog-page {
  margin: 10% 0 10% 0;
}

/*Sticky Footer*/

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  background-color: lightgray;
  color: black;
}

/*end of Sticky Footer*/
