// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prod-cards {
  margin: auto;
}

.paint {
  display:inline-table;
  margin: auto;
}

.card-img-top {
  box-shadow: 10px 10px 20px 0px;
}
