<footer class="site-footer">
  &copy; 2018 Kim Gagne
  <span class="admin">
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
    <%= link_to('Admin Log In', new_user_session_path) %>
    <% end %>
  </span>
</footer>
